%html
  %link{ :href => "/stylesheets/normalize.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %link{ :href => "/stylesheets/app.css", :rel => "stylesheet", :type => "text/css", :media => "screen" }
  %body
    %content
      = yield
